.pagination button {
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: none;
    color: #49B48A;
    font-size: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.pagination button:hover {
    opacity: .8;
}

.pagination button:disabled {
    opacity: .5;
    cursor: not-allowed;
}
