.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2d2d2d;
}

.formContainer {
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  background-color: hsl(240 10% 3.9%/0.4);
  width: 100%;
  max-width: 400px;
}

.formContainer h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: whitesmoke;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form button {
  padding: 0.75rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: #0051cc;
  transform: scale(0.95);
  transition: all ease-in-out 0.4s;
}

.form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.formContainer p {
  text-align: center;
  margin-top: 1rem;
  color: whitesmoke;
  font-size: 0.8rem;
}

.formContainer a {
  color: #0070f3;
  text-decoration: none;
}

.formContainer a:hover {
  text-decoration: underline;
}
