  .contact span {
    width: 15%;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(240 10% 3.9%/.1);
  }
  
  .contact span:first-of-type, .contact span:nth-of-type(2){
    width: 30%;
    min-width: 220px;
  }
  
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    background-color: hsl(240 10% 3.9%/.4);
    color: hsl(240 10% 3.9%/.1);
  }

  .contact:nth-of-type(even) {
    background-color: hsl(240 10% 3.9%/.2);
  }

  .contact:last-of-type {
    border-bottom: none;
    border-radius: 0 0 8px 8px;
  }
  
  /* Controls */
  .controls {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    align-items: center;
    width: 10%;
    min-width: 100px;
  }
  
  .controls button {
    padding: 1.1rem;
    border-radius: 6px;
    border: none;
    background-color: #d1cccc;
    color: white;
  }
  