.main {
  height: 100vh;
  background-color: #EDEDED;
}

/* Modals */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 50%;
  min-width: 350px;
  max-width: 650px;
  background-color: white;
  margin: 2rem auto;
  padding: .75rem 0;
  border-radius: 8px;
  position: relative;
}

.modalContent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: 6px;
  padding: 1rem 0;
}

.inputs {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inputs input {
  padding: .5rem;
  border-radius: 6px;
  background-color: #EDEDED;
  color: rgb(120, 120, 120);
  outline: none;
  border: none;
}

.inputs input::-webkit-outer-spin-button, .inputs input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.addContactBtn, .editContactBtn {
  padding: .5rem;
  border-radius: 6px;
  border: none;
  background-color: #49B48A;
  color: white;
  cursor: pointer;
  width: 80px;
}

.editContactBtn {
  background-color: rgb(67, 67, 236);
}