.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; 
    height: 60px;
    background: #49B48A;
    background: linear-gradient(90deg, #49B48A 10%, #002444 90%);
}

.logout {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    margin-right: 1rem;
}

.itens {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.newContact, .openSearch {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    padding: .5rem;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.newContact:hover, .openSearch:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.itens svg {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}